// .additional__delivery__header {
//   width: 500px;
//   margin:  0 auto;
//   white-space: nowrap;
//   text-transform: unset;
//   font-weight: bold;
// }

// .additional__delivery__text {
//   padding-top: 20px;
//   padding-bottom: 20px;
//   list-style-type: none;
//   line-height: 1.5;
//   width: 600px;
//   text-align: justify;
//   margin: 0 auto;
// }

// @media (max-width: 769px) {
//   .additional__delivery__header {
//     margin-top: 30px;
//     white-space: pre-line;
//     line-height: 1.5;
//   }
// }

// @media (max-width: 620px) {
//   .additional__delivery__text {
//     width: 400px;
//   }

//   .additional__delivery__header {
//     white-space: pre-line;
//     line-height: 1.5;
//     width: 350px;
//   }
// }

// @media (max-width: 420px) {
//   .additional__delivery__text {
//     width: 300px;
//   }

//   .additional__delivery__header {
//     width: 200px;
//     font-size: 20px;
//   }
// }

// @media (max-width: 285px) {
//   .additional__delivery__text {
//     width: 250px;
//     margin-left: -20px;
//   }
// }


.additional__delivery {
  background: url(/img/delivery-banner.jpg) no-repeat;
  max-height: 610px;
  min-height: 610px;
  margin: 0;
  background-position: center;
  padding: 0;
}

.order__conditions {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 75px;
}

.conditions--header {
  color: white;
  text-transform: uppercase;
  margin-left: 21px;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 1.8px;
}

.conditions__header__container {
  display: flex;
  .conditions--red--line {
    width: 7px;
    align-self: center;
    height: 45px;
    background-color: #c32222;
  }
}


.conditions__list {
  margin-top: 23px;
    .conditions--item {
      color: rgb(228, 225, 225);
      margin-top: 15px;
      display: flex;
      font-size: 25px;
      line-height: 1.5;
    }
}
.conditions--item span {
  margin-left: 16px;
}

.red__round {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(180,20,20) 0%, rgb(248,84,84) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(180,20,20) 0%, rgb(248,84,84) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(180,20,20) 0%, rgb(248,84,84) 100%);
  align-self: center;
}



