*,
*::before,
*::after {
  box-sizing: inherit;
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  
}

h1, h2,h3 {
  margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  box-sizing: border-box;
  color: #1e1d1d;
}



html, body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Circe", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  // height: auto;
}

.back {
  max-width: 1920px;
  margin: auto;
}
