@font-face {
  font-family: "Circe";
  font-display: swap;
  src:  local("Circe"),
  url("/fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src:  local("Circe"),
  url("/fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src:  local("Circe"),
  url("/fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src:  local("Circe"),
  url("/fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

// шрифты: "Circe", "Tahoma", sans-serif;
